@page "{slug}"
@model JRovnyBlog.Pages.Posts.IndexModel
@{
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div>
                <div class="card border-primary mb-3">
                    <img src="@Model.Post.Image" class="card-img-top img-fluid" alt="Blog post image">
                    <div class="card-body">
                        <h5 class="card-title">@Model.Post.Title</h5>
                        <h6 class="card-subtitle text-muted">@Model.Post.CreatedDate.ToShortDateString() &bull; Jordan
                        </h6>
                        <div class="mt-3">@Model.PostContent</div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">@Model.Post.Comments.Count() Comments</h5>
                        @foreach (var comment in @Model.Post.Comments)
                        {
                            <vc:comment comment="@comment"></vc:comment>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>